html, body {
    padding: 0;
    margin: 0;

    font-family: 'Poppins', 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-color: #eee;
}

header {
    height: 42pt;
    background-color: white;

    border-bottom: 1px solid #dddbdf;
    text-align: center;
}

header h1 {
    color: black;
    float: left;
    position: absolute;
    top: 0;

    font-weight: 400;
    padding-left: 10pt;
    font-size: 21pt;
    margin-top: 6pt;
}

header h1 a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

header img {
    height: 29pt;
    padding-top: 6pt;
}

div#left, div#right {
    background-color: white;
    z-index: -1;

    height: 100%;
    width: 20%;
    position: absolute;
}

div#left {
    border-right: 1px solid #dddbdf;
}

div#right {
    border-left: 1px solid #dddbdf;
    right: 0;
}

a.button, button.button {
    padding: 5pt 10pt;
    color: #fff !important;
    background-color: #52495d;
    border-radius: 5pt;
    border: none;
    box-shadow: #c0c0c0 1.5pt 1.5pt 2pt;

    cursor: pointer;
    font-size: 105%;
    text-decoration: none;
}

div.soon {
    display: block;

    position: absolute;
    top: 34%;
    left: 0;
    right: 0;
    width: 264pt;
    margin: auto;

    padding: 8pt 20pt;
    background-color: white;
    border: 1px solid #dddbd8;
    border-radius: 8pt;
    box-shadow: 0 4pt 3pt #dddbd8;

    font-size: 10pt;
}

div.soon h2 {
    margin: 4pt auto;
    padding-bottom: 0.25em;
    text-transform: uppercase;
    font-size: 18pt;
    font-weight: normal;
}

div.soon a {
    color: #ff7a00;
}

@media only screen and (max-width: 600px) {
  div#left, div#right {
      display: none;
  }

  div.soon {
      width: 100%;
      border-radius: 0;
      border: none;

      padding: 8pt 5%;
      top: 28%;
  }

  div.soon p, div#sf3z0d13604fcd6878f69a51524104d3b6eaddf7c1d6ae1a4da08f64b3de7bfaa6bf {
      width: 90%;
  }
}

