<html>
  <head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4PVM6SLSW9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4PVM6SLSW9');
</script>

    <title>Fyne Labs : Fysion</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <!-- Custom Fonts -->
    <link href='//fonts.googleapis.com/css?family=Poppins:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="/favicon.png">

    <meta name="viewport" content="initial-scale=1.0">
    {% if page.goimport %}
    <meta name="go-import" content="{{ page.goimport }}">
    {% endif %}
    {{ page.header }}
  </head>

  <body>
    <div id="left">
      &nbsp;
    </div>
    <div id="right">
      &nbsp;
    </div>

    <header>
      <h1><a href="/">Fysion</a></h1>
      <img src="/img/logo.png" />
    </header>

    {% assign override = "" %}
    {% if page.developer %}
      {% assign override = ' style="width: 460pt"' %}
    {% endif %}

    <div class="soon"{{ override }}>
      <h2>{{ page.title }}</h2>

      {{ content }}
    </div>
  </body>
</html>
